@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Poppins:wght@400;800&display=swap');
*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.Home{
    height: 100vh;
    background-image: linear-gradient(to right,rgba(63, 63, 63, 1), rgba(0, 0, 0, 1));
    font-family: 'Amiko', sans-serif;
}
nav{
    display: flex;
    width: 100%;
    justify-content: center;
}
ul{
    display: flex;
    padding: 10px;
}
li{
    padding: 10px 30px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
}
h1{
    color: rgba(240, 248, 255, 0.514);
    font-size: 24rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.con-main{
    display: flex;
    position: absolute;
    justify-content: center;
}
.con-main input{
    display: none;
}
.con-body{
    width: 100vw;
    height: 100vh;
    transition: 2s;

}
.navigation-manual{
    position: absolute;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -50%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -100%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -150%;
  }

